/*
Theme Name: Papazian
Theme URI: http://beerfordessert.com/
Description: Child Theme for Liquorice
Author: Bri
Author URI: http://beerfordessert.com/
Template: liquorice
Version: 0.1
*/
 
@import url("./liquorice/style.css");

#site-title,
#site-description
{
	text-align: left;
	font-size: 1em;
	color: #666666;
	margin: 0;
}

#site-title a {
	color: #8B4513;
	font-size: 50px;
	text-shadow: 1px 1px #FFFFFF;
}

#primaryContent h1.postTitle, #primaryContent h2.postTitle {  text-align: left;
  margin: 0 0 0;
  padding: 0 0;}

ol#posts {
    list-style: none outside none;
    text-align: left;
}

#canvas {
	padding: 0 20px 0 20px;
	background: none;
}

#primaryContent h1.postTitle a, 
#primaryContent h2.postTitle a {
  	background: none;
  	border-radius: 0;
  	color: #006633;
	font-size: 20px;
	font-weight: bold; 
	line-height: 1.5em;
	padding: none;
	text-shadow: none;
	text-transform: none;
	padding: 0 0;
}

#primaryContent h1.postTitle a:hover, 
#primaryContent h2.postTitle a:hover,
#primaryContent .sticky h2.postTitle a:hover {
	background:none;
	border-radius: 0;
}

#primaryContent {
	margin: 20px 40px 0 0;
	padding: 0 0;
}

#primaryContent p.date {
    background: url("liquorice/images/border.gif") repeat-x scroll left top transparent;
    text-align: right;
}

.main-menu li a {
    padding: 10px 30px;
}

#secondaryContent > ul > li {
    font: 20px 'Lobster',Georgia,"Times New Roman",Times,serif;
}

#secondaryContent ul {
    font: 12px Georgia,"Times New Roman",Times,serif;
}

#secondaryContent {
    background: none;
}

body {
    font: 90%/1.4em Georgia,"Times New Roman",Times,serif;
    background: none;
}

#primaryContent p.date small {
    background: none;
}

img {
	background: none;
	border: 2px solid #000000;
	margin: 10px;
}
